[Unit]
Description=SmartHouse UPnP
After=network.target

[Service]
ExecStart=/usr/local/sbin/simple-upnpd -x /etc/SmartHouse/upnp_desc.xml
KillMode=process
Type=forking

[Install]
WantedBy=multi-user.target
Alias=smarthouse_upnp.service
