[Unit]
Description=SmartHouse Simple Web interface
After=network.target dbus_gpio.service dbus_termo.service

[Service]
WorkingDirectory=/opt/SmartHouse/web
ExecStart=/opt/SmartHouse/web/webserver.py
ExecReload=/bin/kill -9 $MAINPID
NotifyAccess=main
#WatchdogSec=10
Restart=on-failure
LimitNPROC=1
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
Alias=smarthouse_web.service
