[Unit]
Description=SmartHouse mount owfs directory
After=network.target smarthouse_owfs.service

[Service]
PIDFile=/var/run/smarthouse_owfs_mount.pid
ExecStart=/usr/lib/owfs/owfs -P /var/run/smarthouse_owfs_mount.pid -w -m /mnt/1wire --server 127.0.0.1:4304
NotifyAccess=main
KillMode=process
Restart=on-failure
LimitNPROC=1

[Install]
WantedBy=multi-user.target
Alias=smarthouse_owfs_mount.service
