body{background-color: #7D8EE2;color:#FFF;}
a {color:#73B9FF;}
.blockk {border:solid 1px #2d2d2d;background:#0059B3;padding:10px 10px 10px 10px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.blockk{border:double 2px #000000;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
